body {
  background-color: #34495E;
  color: #fff;
  text-align: center;
  font-family: "Coda";
  overflow-y: scroll; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #fff; }

table {
  width: 100%; }

.wrapper {
  width: 800px;
  margin: 0 auto; }

.avatar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  padding: 3px; }
.avatar i {
  display: inline-block;
  margin: 0 10px; }

.intro {
  text-align: left;
  font-size: 20px; }
  .intro p {
    text-indent: 20px; }

.start-btn {
  position: relative;
  width: 150px;
  margin: 20px auto; }
  .start-btn:hover {
    cursor: pointer; }
  .start-btn .text {
    position: absolute;
    top: 58px;
    left: 43px;
    font-size: 25px; }
  .start-btn .circle {
    border-radius: 50%;
    position: absolute; }
    .start-btn .circle:nth-child(1) {
      width: 150px;
      height: 150px;
      background-color: rgba(57, 80, 102, 0.88);
      top: 0;
      left: 0; }
    .start-btn .circle:nth-child(2) {
      width: 130px;
      height: 130px;
      background-color: #49637d;
      top: 9px;
      left: 9px; }
    .start-btn .circle:nth-child(3) {
      width: 110px;
      height: 110px;
      background-color: #587b9e;
      top: 19px;
      left: 18px; }
    .start-btn .circle:nth-child(4) {
      width: 90px;
      height: 90px;
      background-color: #6192c2;
      top: 29px;
      left: 29px;
      background-color: #6192c2; }

nav li {
  display: inline-block;
  line-height: 40px;
  width: 120px;
  font-size: 25px;
  font-weight: 200;
  font-family: "Avenir Next";
  margin: 0 20px;
  transition: 0.5s all;
  border-bottom: 1px solid #34495E; }
  nav li:hover {
    cursor: pointer; }
  nav li:nth-child(1):hover, nav li:nth-child(1).current {
    border-bottom: 1px solid #1ABC9C; }
  nav li:nth-child(2):hover, nav li:nth-child(2).current {
    border-bottom: 1px solid #E67E22; }
  nav li:nth-child(3):hover, nav li:nth-child(3).current {
    border-bottom: 1px solid #E74C3C; }

.ipt {
  background: #FFFFFF;
  border: 0px solid #00A6FF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 10px;
  height: 30px;
  box-sizing: border-box;
  font-size: 16px;
  vertical-align: middle;
  margin-right: 50px; }
  .ipt:focus {
    border: 0;
    outline: 0; }

.lp-ipt {
  width: 130px; }

.btn {
  background: #3498DB;
  font-family: Coda-Regular;
  font-size: 14.64px;
  color: #FFFFFF;
  line-height: 21px;
  outline: none;
  border: 0;
  width: 100px;
  height: 30px;
  margin-left: 20px; }
  .btn:hover {
    cursor: pointer; }

section {
  position: relative;
  display: none; }
  section.current {
    display: block; }
  section h1 {
    font-size: 144px;
    font-family: 'PT Sans', sans-serif;
    margin: 0; }
  section h2 {
    font-size: 25px;
    font-weight: 400; }
  section .desc {
    margin: 60px 0; }

.demo h1 {
  font-size: 104px; }
.demo h2 {
  font-size: 23px; }

.tutorial {
  font-size: 20px; }
  .tutorial h1 {
    font-size: 104px; }
  .tutorial .quote {
    font-size: 20px; }

.bg-circle {
  border-radius: 50%;
  position: absolute;
  z-index: -1; }
  .bg-circle:nth-child(1) {
    width: 200px;
    height: 200px;
    background-color: rgba(138, 185, 255, 0.07);
    top: 0;
    left: 0; }
  .bg-circle:nth-child(2) {
    width: 160px;
    height: 160px;
    background-color: rgba(138, 185, 255, 0.07);
    top: 120px;
    left: 230px; }
  .bg-circle:nth-child(3) {
    width: 120px;
    height: 120px;
    background-color: rgba(138, 185, 255, 0.04);
    top: 100px;
    left: 430px; }
  .bg-circle:nth-child(4) {
    width: 300px;
    height: 300px;
    background-color: rgba(138, 185, 255, 0.04);
    top: -80px;
    left: 620px; }
  .bg-circle:nth-child(5) {
    width: 140px;
    height: 140px;
    background-color: rgba(138, 185, 255, 0.04);
    top: 230px;
    left: 10px; }
  .bg-circle:nth-child(6) {
    width: 120px;
    height: 120px;
    background-color: rgba(138, 185, 255, 0.04);
    top: 340px;
    left: 280px; }
  .bg-circle:nth-child(7) {
    width: 90px;
    height: 90px;
    background-color: rgba(138, 185, 255, 0.04);
    top: 260px;
    left: 420px; }
  .bg-circle:nth-child(8) {
    width: 170px;
    height: 170px;
    background-color: rgba(138, 185, 255, 0.04);
    top: 220px;
    left: 720px; }
  .bg-circle:nth-child(9) {
    width: 220px;
    height: 220px;
    background-color: rgba(138, 185, 255, 0.01);
    top: 460px;
    left: 170px; }
  .bg-circle:nth-child(10) {
    width: 60px;
    height: 60px;
    background-color: rgba(138, 185, 255, 0.07);
    top: 370px;
    left: 390px; }
  .bg-circle:nth-child(11) {
    width: 160px;
    height: 160px;
    background-color: rgba(138, 185, 255, 0.05);
    top: 350px;
    left: -10px; }

#lp-result {
  width: 67%;
  margin: 30px 130px; }
  #lp-result td {
    width: 110px; }

.step {
  position: relative;
  font-family: Avenir Next;
  font-weight: 200;
  font-size: 23px;
  margin: 30px 0; }

.rule-ipt {
  width: 140px;
  margin: 0 auto; }

.space {
  height: 40px; }

footer {
  height: 200px; }

.horizon-split {
  position: absolute;
  top: 16px;
  left: 0;
  display: inline-block;
  width: 210px;
  border: 1px solid #fff; }
  .horizon-split:nth-child(2) {
    right: 0;
    left: auto; }

.step-one .horizon-split {
  border-color: #2ECC71; }

.step-two .horizon-split {
  border-color: #3498DB; }

.step-three .horizon-split {
  border-color: #E74C3C; }

.step-four .horizon-split {
  border-color: #E67E22; }

#start-rule {
  background-color: #D98845;
  margin: 40px 0; }

#clear-lp {
  background-color: #E74C3C; }

.clear-btn {
  background-color: #E74C3C; }

.scroll-wrapper {
  overflow-y: scroll;
  height: 300px;
  scrollbar-face-color: #fcfcfc;
  scrollbar-highlight-color: #6c6c90;
  scrollbar-shadow-color: #fcfcfc;
  scrollbar-3dlight-color: #fcfcfc;
  scrollbar-arrow-color: #240024;
  scrollbar-track-color: #fcfcfc;
  scrollbar-darkshadow-color: #48486c;
  scrollbar-base-color: #fcfcfc; }

/*# sourceMappingURL=layout.css.map */
